<%- layout('/layouts/BodyWrapper.ejs') -%>
        <button onclick="startScanning()" class="Scanning">Start Scanning</button>
        <div id="reader"></div>
        <div id="result"></div>
        <div id="all-results"></div>
        <audio id="success-sound" src="beep.mp3" preload="auto"></audio>

        <script src="../js/BarcodeReader.js"></script>